.App {
  text-align: center;
}

.main-div{
  display: grid;
  justify-content: center;
  padding: 2rem 4rem;

}
.add-form{
  background-color: aqua;
}
.add-form label{
    float: left;
}
.add-form .btn-pri{
    color: #fff;
    background-color: rgb(187, 19, 123);
}
.user-list{
  display: grid;
  
}